<%- include partials/head.ejs %>
<%- include partials/navbar.ejs %>
<link rel="stylesheet" type="text/css" href="../../styles/compare.css">

<div class="container">
    <div class="row">
      <h1>City Comparison Tool</h1>
    </div>
    <div class="row">
      <% if(cities.length === 0) { %>
        <p>No data: please mark some cities as favorites or pin them for comparison.</p>
      <% } else { %>
        <div class="table-responsive">
          <table class="table table-sm table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">City</th>
                <th scope="col">Population</th>
                <th scope="col">Employment rate (%)</th>
                <th scope="col">Avg. weekly earnings (£)</th>
                <th scope="col">Private / Public sector employment ratio</th>
                <th scope="col">Housing affordability ratio</th>
                <th scope="col">Mean house price (£)</th>
                <th scope="col">CO2 emissions per capita (tons)</th>
                <th scope="col">Ultra fast broadband (%)</th>
              </tr>
            </thead>
            <tbody>
              <% cities.forEach(function(city){ %>
                <tr>
                  <th scope="row"><%= city.city %></th>
                  <td><%= city.Population_2016 %></td>
                  <td><%= city.Employment_Rate_2017 %></td>
                  <td><%= city.Average_Weekly_Workplace_Earnings_2017 %></td>
                  <td><%= city.Ratio_of_Private_to_Public_Sector_Employment_2016 %></td>
                  <td><%= city.Housing_Affordability_Ratio_2017 %></td>
                  <td><%= city.Mean_house_price_2017 %></td>
                  <td><%= city.CO2_Emissions_per_Capita_2015_tons %></td>
                  <td><%= city.Ultrafast_Broadband_2017 %></td>
                </tr>
              <%  }); %>
            </tbody>
          </table>
        </div>
      <% } %>
    </div>  
</div>
<script type="text/javascript">
  // d3 code here
</script>
