<%- include partials/head.ejs %>
<%- include partials/navbar.ejs %>
<link rel="stylesheet" type="text/css" href="../../styles/compare.css">
<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src="../../styles/js/popGraph.js"></script>
<script type="text/javascript" src="../../styles/js/popGraph2.js"></script>
<script type="text/javascript" src="../../styles/js/empGraph.js"></script>
<script type="text/javascript" src="../../styles/js/empGraph2.js"></script>
<script type="text/javascript" src="../../styles/js/houGraph.js"></script>
<script type="text/javascript" src="../../styles/js/broGraph.js"></script>
<script type="text/javascript" src="../../styles/js/libGraph.js"></script>

<script type="text/javascript">
  var cities = <%- JSON.stringify(cities) %>;
  var citiesObj = <%- JSON.stringify(citiesObj) %>;
</script>

<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Your favorite cities toe to toe</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 table-data">
        <% if(cities.length === 0) { %>
          <p>No data: please mark some cities as favorites to compare them.</p>
        <% } else { %>
          <div class="table-responsive">
            <table class="table table-sm table-striped table-bordered">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <% citiesObj.city.forEach(function(city) {%>
                    <th scope="col"><%= city %></th>
                  <% });%>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Total population</th>
                  <% citiesObj.Population_2016.forEach(function(val) { %>
                    <td><%= val.toLocaleString("en-GB") %></td>
                  <% }); %>
                </tr>
                <tr>
                  <th scope="row">Population UK (%)</th>
                  <% citiesObj.Population_UK.forEach(function(val) { %>
                    <td><%= val %></td>
                  <% }); %>
                </tr>
                <tr>
                  <th scope="row">Population Non-UK (%)</th>
                  <% citiesObj.Population_Non_UK.forEach(function(val) { %>
                    <td><%= val %></td>
                  <% }); %>
                </tr>
                <tr>
                  <th scope="row">CO2 emissions per capita (tons)</th>
                  <% citiesObj.CO2_Emissions_per_Capita_2015_tons.forEach(function(val) { %>
                    <td><%= val %></td>
                  <% }); %>
                </tr>
                <tr>
                  <th scope="row">Number of public libraries</th>
                  <% citiesObj.Public_libraries.forEach(function(val) { %>
                    <td><%= val %></td>
                  <% }); %>
                </tr>
                <tr>
                  <th scope="row">Ultra-fast broadband (%)</th>
                  <% citiesObj.Ultrafast_Broadband_2017.forEach(function(val) { %>
                    <td><%= val %></td>
                  <% }); %>
                </tr>
                <tr>
                  <th scope="row">Employment rate (%)</th>
                  <% citiesObj.Employment_Rate_2017.forEach(function(val) { %>
                    <td><%= val %></td>
                  <% }); %>
                </tr>
                <tr>
                  <th scope="row">Avg. weekly earnings (£)</th>
                  <% citiesObj.Average_Weekly_Workplace_Earnings_2017.forEach(function(val) { %>
                    <td><%= val %></td>
                  <% }); %>
                </tr>
                <tr>
                  <th scope="row">Private / Public sector employment ratio</th>
                  <% citiesObj.Ratio_of_Private_to_Public_Sector_Employment_2016.forEach(function(val) { %>
                    <td><%= val %></td>
                  <% }); %>
                </tr>
                <tr>
                  <th scope="row">Housing affordability ratio</th>
                  <% citiesObj.Housing_Affordability_Ratio_2017.forEach(function(val) { %>
                    <td><%= val %></td>
                  <% }); %>
                </tr>
                <tr>
                  <th scope="row">Mean house price (£)</th>
                  <% citiesObj.Mean_house_price_2017.forEach(function(val) { %>
                    <td><%= val.toLocaleString("en-GB") %></td>
                  <% }); %>
                </tr>
              </tbody>
            </table>
          </div>
        <% } %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h2>Population &amp; CO2 emissions per capita</h2>
        <div id="populationSvg"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h2>Population UK &amp; non-UK</h2>
        <!-- stacked bars -->
        <div id="immigrationSvg"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h2>Ultra-fast broadband</h2>
        <div id="broadbandSvg"></div>
      </div>
      <div class="col-sm-6">
        <h2>Number of public libraries</h2>
        <div id="librariesSvg"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h2>Employment rate &amp; avg. weekly earnings</h2>
        <div id="employmentSvg"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h2>Employment rate &amp; private/public employment ratio</h2>
        <div id="employmentSvg2"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h2>Housing affordability ratio &amp; mean house price</h2>
        <div id="housingSvg"></div>
      </div>
    </div>
</div>
<script type="text/javascript">
  renderPop(cities);
  renderEmp(cities);
  renderEmp2(cities);
  renderHou(cities);
  renderBro(cities);
  renderLib(cities);
  renderPop2(cities);
</script>
