<%- include partials/head.ejs %>
<%- include partials/navbar.ejs %>

<link rel="stylesheet" type="text/css" href="../../styles/auth.css">
<body>
<div class="wrapper">
  <div class="row register-row">
    <div class="col col-md-3 offset-7 register-form">
      <form method="post" action="/users/register">
        <div class="form-group">
          <input type="email" class="form-control form-control-lg input-block" id="exampleFormControlInput1" name="email" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <input type="password"class="form-control form-control-lg input-block" name="password" placeholder="password" required="required">
        </div>
        <div class="form-group">
          <select id="inputState" class="form-control form-control-lg input-block" name="city">
            <option selected>Choose city</option>
            <% cities_list.forEach(function(city){ %>
                <option> <%= city %></option>
          <%  }); %>
          </select>
        </div>
        <div class="form-group">
          <input type="text" class="form-control form-control-lg input-block" name="username"  placeholder="Pick a username" autofocus="">
        </div>
        <div class="form-group">
          <select id="inputAge" class="form-control form-control-lg input-block" name="age">
            <option selected>Your age</option>
            <% for(var i=18; i<80; i++){ %>
                <option> <%= i %></option>
          <%  } %>
          </select>
        </div>
        <button type="submit" class="btn btn-block register"> <%= title %></button>
        <p class="terms">
          <small>By clicking “Sign up”, you agree to terms and privacy statement of City Match.We’ll occasionally send you account related emails.</small>
        </p>
      </form>
    </div>
    <div class="col col-md-4 offset-2 app-details">
      <h1>Designed for you</h1>
      <p>
        Could there be some city in the UK that suits you better Do you fit your current area?<br/>
        City Match is an application developed to help you find the city you will <strong>enjoy living</strong> in. Learn more about the UK cities and find the one where you'll be the happiest to live in.
      </p>
    </div>
  </div>
</div>
</body>
