<%- include partials/head.ejs %>
<%- include partials/navbar.ejs %>
<link rel="stylesheet" type="text/css" href="../../styles/search_result.css">
<script src="https://maps.googleapis.com/maps/api/js"></script>

<div id="customMap" class="custommap"></div>
<div class="container">
    <div class="row details-side">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="row">
                <h3><%= city %></h3>
                <span id="favorite_form">
                <button class=<% if(favorite) { %>"favorite favorite-success" <% } else { %> "favorite" <% } %>
                  data-value=<%= city %> 
                  data-population=<%= details.Population_2016 %> 
                  data-earnings=<%= details.Average_Weekly_Workplace_Earnings_2017 %> ></button>
              </span>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <p><span>Population: </span> <%= details.Population_2016%> </p>
                <p><span>UK Population: </span> <%= details.Population_UK %></p>
                <p><span>Non-UK Population </span> <%= details['Population_Non-UK'] %></p>
                <p><span>CO2 emissions/capita: </span> <%= details.CO2_Emissions_per_Capita_2015_tons %> tons </p>
                <p><span>Ultrafast broadband 2017: </span><%= details.Ultrafast_Broadband_2017 %> </p>
                <p><span>Public libraries </span> <%= details.Public_libraries %></p>                
                <p><span>Employment rate: </span> <%= details.Employment_Rate_2017 %> </p>
                <p><span>Ratio of private/public sector employment: </span> <%= details.Ratio_of_Private_to_Public_Sector_Employment_2016 %></p>
                <p><span>Average weekly workplace earnings: </span>  £ <%= details.Average_Weekly_Workplace_Earnings_2017 %></p>
                <p><span>Housing affordability ratio: </span> <%= details.Housing_Affordability_Ratio_2017 %></p> 
              </div>
            </div>
       </div>

       <div class="col-xs-6 col-sm-6 col-md-6">
        <h3>Reviews</h3>
            <div>
              <% if(averageRating != " ") {%>
                <p> <span>Average rating: </span> <%= averageRating %></p>
              <%}%>
            </div>
            <div>
                <form id="review_form"  name="review_form" method="post" action="/cities/reviews">
                  <input type="hidden" name="city" value= <%= city%> />
                  <!-- Copyright (c) 2018 by James Barnett (https://codepen.io/jamesbarnett/pen/vlpkh)
                       see search_result.css for full copyright and license information-->
                  <div class="form-group rating-group">
                    <fieldset class="rating">
                      <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                      <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                      <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                      <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="OK - 3.5 stars"></label>
                      <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="OK - 3 stars"></label>
                      <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                      <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                      <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                      <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Bad - 1 star"></label>
                      <input type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf" title="Very bad - 0.5 stars"></label>
                    </fieldset>
                  </div>
                    <div class="form-group">
                        <input type="text" id="title-input" class="form-control" name="review_title" placeholder="Review Title" autofocus="">
                    </div>
                    <div class="form-group">
                        <textarea placeholder="Your Review" id="body-input" class="form-control" rows="6" name="review_body"></textarea>
                    </div>
                    <div class="form-group">
                      <input type="submit" class="submit-button" value="Submit">
                    </div>
                </form>
            </div>
            <div>
            <!-- TODO display reviews here-->  
            <div class="col-md-10" id="block">
              <div class="reviews-list">
                  <% if(details.reviews){
                     Object.keys(details.reviews).forEach(function (id) {%>
                        <div class="itemsHolder col-md-3">
                          <div class="items clearfix">
                          <div class="item">
                            <div class="itemInner">
                              <div class="review-title">
                                <h6> <%= details.reviews[id].title %>     Rating: <%= details.reviews[id].rating %>*</h6>
                              </div>
                              <div class="review-body">
                                <p> <%= details.reviews[id].body%> </p> 
                              </div>
                              <!-- 
                              <div class="image-holder">
                                <img alt="" src="<%= favorite.imageUrl %>" width="370" height="310">
                                <div onclick="on()" class="city-name">   <%= id %> </div>
                                <div class="hidden-details" id="hidden-details[]">
                                  <p><%= id %> <br/><%= favorite.population%></p>
                                </div>
                              </div>
                              Rating, Title, Body
                              -->
                            </div>
                          </div>
                        </div>
                      </div>
                    <% }) %>
                    <% } else { %>
                      <p>There are no reviews for this city yet. Why not add one?</p>
                      <%}%>
              </div>
            </div>
        </div>     
       </div>
   </div>
</div>
<script type="text/javascript">
  function initialize() {
      var mapOptions = { center: location, zoom: 14 }
      var map = new google.maps.Map(document.getElementById('customMap'),mapOptions);
      var location = new google.maps.Geocoder().geocode({
        'address': '<%= city %>'
      },
      function(results, status) {
          if(status == google.maps.GeocoderStatus.OK) {
             new google.maps.Marker({
                position: results[0].geometry.location,
                map: map
             });
             map.setCenter(results[0].geometry.location);
          }
       });

      var styles = [
          { "featureType": "landscape", "stylers": [ { "color": "#b1babf" } ] },
          { "featureType": "water", "stylers": [ { "color": "#4d6a79" } ] },
          { "featureType": "poi.business", "stylers": [ { "color": "#5a7093" } ] }
      ]
      map.setOptions({styles: styles})
  }

  google.maps.event.addDomListener(window, 'load', initialize)

  function addToFavorites(data) {
    console.log("data is " + JSON.stringify(data));
    $.ajax({
      url: '/users/favorite',
      type: 'post',
      data: JSON.stringify(data),
      contentType: 'application/json'
    })
    .done(function() {
      alert("City added to favorites");
      $('#favorite_form .favorite').attr("class", "favorite favorite-success");
    });
  }

  function submitReview(city, title, body, rating){
    var data = {};
    data.cityName = city;
    data.reviewTitle = title;
    data.reviewBody = body;
    data.reviewRating = rating;
    console.log("review data is " + JSON.stringify(data));
    $.ajax({
      url:'/cities/reviews',
      type:'post',
      data: JSON.stringify(data),
      contentType: 'application/json',
      success:function(){
          alert("Review submitted");
        }
    });
  }
  
  $('#favorite_form .favorite').on('click', function() {
    var data = {};
    data.city = $(this).attr('data-value');
    data.city_population = $(this).attr('data-population');
    data.earnings = $(this).attr('data-earnings');
    addToFavorites(data)
  });

  $('#review_form .submit-button').on('click', function() {
    submitReview( 
        $(this).attr('data-value'), 
        $('#title-input').text(),
        $('#body-input').text(),
        $('input:radio[name=rating]:checked').val()
      )
  });
   

</script>
