<%- include partials/head.ejs %>
<%- include partials/navbar.ejs %>
<link rel="stylesheet" type="text/css" href="../../styles/user_profile.css">
<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<body>
  <div class="wrapper">
    <div class="row profile-section-2">                    
      <div class="col-md-2 fav-cities">
        <div class="user-details">
            <h4><%= details.username %></h4>
            <p><%= details.city%></p>
            <h4>Your favorite cities</h4>
        </div>       
      </div>
      <div class="col-md-10" id="block">
        <div class="favorite-list">
          <div class="favorite-row row">
            <% if(details.favorites){
                Object.keys(details.favorites).forEach(function (id) {
                  var favorite = details.favorites[id] %>
                  <div class="itemsHolder col-md-3">
                    <div class="items clearfix">
                    <div class="item">
                      <div class="itemInner">  
                        <div class="image-holder">
                          <img alt="" src="<%= favorite.imageUrl %>" width="370" height="310">
                          <div onclick="on()" class="city-name"> <%= favorite.city %> </div>
                          <div class="hidden-details" id="hidden-details[]">
                              <p><%= favorite.city %> <br/><%= favorite.population%></p>
                          </div>   
                                                                    
                        </div>   
                      </div>
                    </div>
                  </div>
                </div>
              <% }) %>
              <% } else { %>
                <p>No favorite cities to display.</p>
              <%}%>
          </div>
        </div>
      </div>
    </div>
        <!-- Recommended cities section -->
    <div class="recommended-cities">
      <div class="container">
        <h3>Recommeded cities</h3>
        <% if(existing_recommendations.length === 0){%>
          <p><small><i>No recommedations yet. Take the quiz below to discover what are the suibale cities for you. </i></small></p>
      </div>         
      <form method="post" action="/users/recommendations">
        <section id="first" class="section">
          <div class="container">
            <p>How are you (or your family) usually spending your spare time? </p>
            <input type="radio" name="spare-time" id="radio-1" value="movies">
            <label for="radio-1"><span class="radio">Watching TV, movies or playing online games</span></label>
          </div>
          <div class="container">
            <input type="radio" name="spare-time" id="radio-2" value="sport">
            <label for="radio-2"><span class="radio">Doing sports (e.g. swimming, running)</span></label>
          </div>
          <div class="container">
            <input type="radio" name="spare-time" id="radio-3" value="cultural">
            <label for="radio-3"><span class="radio">Reading or other cultural activities (e.g. visiting museums)</span></label>
          </div>
          <div class="container">
            <input type="radio" name="spare-time" id="radio-4" value="friends">
            <label for="radio-4"><span class="radio"> Hang out with friends( e.g. go to pub, parties)</span></label>
          </div>
        </section>
        <section id="second" class="section">
            <div class="container">
              <p>Your preferred workplace type:</p>
              <input type="radio" name="workplace" id="radio-5" value="corporation">
              <label for="radio-5"><span class="radio">Big corporation or a multinational company</span></label>
            </div>
            <div class="container">
              <input type="radio" name="workplace" id="radio-6" value="start-up">
              <label for="radio-6"><span class="radio">  Start-up </span></label>
            </div>
            <div class="container">
              <input type="radio" name="workplace" id="radio-7" value="freelance">
              <label for="radio-7"><span class="radio">Work from home, as a freelancer  or own business </span></label>
            </div>
            <div class="container">
              <input type="radio" name="workplace" id="radio-8" value="small-medium">
              <label for="radio-8"><span class="radio">Small or medium-sized company</span></label>
            </div>
        </section>
        <section id="third" class="section">
          <div class="container">
            <p>On the scale below, how important is your career to you?</p>
              <input name="career" type="range" min="0" max="10">
          </div>
        </section>
        <section id="fourth" class="section">
          <div class="container">
            <p>On the scale below, how likely are you to take risks?</p>
              <input name="risk" type="range" min="0" max="10">
          </div>
        </section>
        <section id="fifth" class="section">
          <div class="container">
            <p>Do you agree with the statement: “I’d rather earn more and have less spare time”: </p>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="time-money-true" id="cultural" value="true">
              <label class="form-check-label" for="time-money-true">True</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="time-money-false" id="friends" value="false">
              <label class="form-check-label" for="time-money-false">False </label>
            </div>
          </div>
        </section>
        <section id="sixth" class="section">
          <div class="container">
            <p>Pick your favorite color (click the bubble):</p>
            <div class="input-color-container">
              <input id="input-color" type="color" class="input-color" value="#ffffff" name="color">
            </div>
          </div>
        </section>
        <div class="container">
          <button type="submit" class="btn">Submit</button>          
        </div>
      </form>
      <% }else{%>
      <%} %>
    </div>
        
    <!-- <script>
      function on() {
            document.getElementById("hidden-details[]").style.display = "block";
        }    
        function off() {
            document.getElementById("hidden-details[]").style.display = "none";
        }
      </script>      -->
</body>